#myhead{
    color: rgb(121, 121, 230);
    font-size: 36px;
    }
    /* if we have id , we use # */
    
.mytext{
    background: rgb(245, 255, 226);
}

a{
    text-decoration: none;
    color: #535353;
}

.sidebar{
    background: #eee;
}